.mainDiv{
    text-align: center;
    align-items: center;
    background-color: grey;
    padding-bottom: 6rem;
}
.name{
    padding: 8rem 0 4rem;
}

button{
    border: none;
    background-color: darkgray;
    padding: .8rem 1.8rem;
    border-radius: 4rem;
}